.navbar-toggler {
    border-width: 3px;
}

.navbar-toggler:hover {
    background-color: #dc3545;
}

input:focus {
    outline: none !important;
}

.text-responsive {
    font-size: calc(100% + 5vw);
}

.list-group-item:hover {
    background-color: black !important;
    color: red !important;
    font-weight: bolder;
    font-size: 20px;
}

